html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0px;
  padding: 0px;
  background: #849d8f;
}
body>input[type="radio"] {
  display: none;
}
.container {
  width: 1146px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
}
.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-cream.jpg");
  background-repeat: no-repeat;
  background-position:  center -3px;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}
.site-wrapper::before,
.site-wrapper::after {
  background-image: url("../img/ice-cream1.jpg");
  background-position:  center -3px;
}
.site-wrapper::after {
  background-image: url("../img/ice-cream2.jpg");
  background-position:  center -3px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-header {
  position: relative;
  z-index: 10;
}
.index-logo {
  width: 162px;
  float: left;
  margin-top: 7px;
  margin-left: -5px;
}
.main-navigation {
  float: left;
  padding-left: 105px;
  box-sizing: border-box;
  position: relative;
  top: 27px;
  left: 10px;
}
.main-navigation a {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  display: block;
  text-decoration: none;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
}
.main-navigation .delivery {
  margin-left: -10px;
}
.main-navigation .about {
  margin-left: 25px;
}
.main-navigation p {
  margin: 0;
  display: inline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-navigation-catalog p:hover {
  border: transparent;
}
.main-navigation-catalog {
  display: block;
  padding: 7px 12px;
  position: absolute;
  left: 0;
  top: -7px;
}
.main-navigation-catalog:hover {
  color: #000000;
  background-color: #f7f6f3;
  border-radius: 20px;
  text-decoration: none;
}
.main-navigation-catalog:active {
  box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);
}
.sub-menu {
  z-index: 2;
  display: none;
  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 30px;
  left: -10px;
}
.sub-menu::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  position: relative;
  top: -5px;
}
.main-navigation-block:hover .sub-menu  {
  display: block;
}
.main-navigation-block .second-menu {
  display: block;
}
.sub-menu a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  padding-left: 21px;
  padding-right: 20px;
  padding-top: 7px;
}
.new {
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding-top: 5px;
  padding-left: 21px;
  padding-bottom: 15px;
}
.new::before {
  content:"";
  position:absolute;
  top: 37px;
  left: 8px;
  width: 127px;
  border-top:1px solid #d1d0ce;
}
.sub-menu a:hover {
  background: #fbded7;
}
.sub-menu a:active {
  background: #f6b5a5;
}
.sub-menu a:last-child {
  padding-bottom: 10px;
}
.link-current {
  background: #d07058;
  color: #ffffff;
}
.page-current {
  background: #d07058;
  color: #ffffff;
  border-radius: 20px;
}
.page-current p {
  border: transparent;
}
.sprite-basket {
  width: 21px;
  height: 20px;
  background-position: -10px -10px;
}
.sprite-enter {
  width: 20px;
  height: 19px;
  background-position: -10px -50px;
}
.sprite-find {
  width: 17px;
  height: 17px;
  background-position: -10px -89px;
}
.sprite-heart {
  width: 15px;
  height: 13px;
  background-position: -10px -126px;
}
.user-block  {
  float: right;
  z-index: 2;
  position: relative;
  margin-top: 19px;
}
.user-block .full-user-block {
  display: inline-block;
}
.find-block {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color:  #ffffff;
  position: relative;
  box-sizing: border-box;
  margin-right: 5px;  
}
.find-form::before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  top: -30px;
  right: 0px; 
}
.find {
  font-size: 0;
  display: block;  
  background: url("../img/sprite2.png") rgba(255, 255, 255, 0.2);
  width: 17px;
  height: 17px;
  background-position: -1px -80px;
  border-radius: 50%;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 2px;
}
.find-form {
  position: absolute;
  display:none;
  top: 20px;
  left: -308px;
  width: 341px;
  background-color: #f8f7f4;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  min-height: 84px;
}
.find-block:hover .find-form  {
  display: block;
  position: absolute;
  margin-top: 18px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.find-form input {
  width: 311px;
  padding: 8px 14px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 20px 15px;
  border: 1px solid #d3d3d2;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  position: absolute;
}
.find-block:hover .find {
  background: url("../img/sprite3.png") #f8f7f4;
  width: 17px;
  height: 17px;
  background-position: -1px -80px;
}
.find-form input:hover {
  border: 2px solid #d3d3d2;
}
.find-form input:focus {
  outline: 0;
  border: 2px solid #8fbdec;
}
.find-form label {
  position: absolute;
  top: 30px;
  left: 30px;
}
.find-form input:focus ~ label  {
  color: #5b9ddf;
}
.find-form input:focus ~ label,
.find-form input:valid ~ label{
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  position: absolute;;
  top: 5px;
}
.enter-block {
  position: relative;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  width: 92px;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
  box-sizing: border-box;
  margin-right: 5px;
}
.enter-form::before {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: relative;
  top: -15px;
}
.enter::before {
  content:"";
  display: inline-block;
  width: 20px;
  height: 19px;
  background: url("../img/sprite2.png");
  background-position: -10px -50px;
  margin-bottom: -5px;
  padding-right: 9px;
}
.enter-block:hover .enter::before {
  content:"";
  display: inline-block;
  background: url("../img/sprite3.png");
  width: 20px;
  height: 19px;
  background-position: -10px -50px;
  margin-bottom: -5px;   
}
.enter-block:hover  {
  background: #f8f7f4;
}
.enter-block:hover .enter {
  color: #000000;
}
.enter, .basket {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color:  #ffffff;
}
.enter-form input {
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  width: 242px;
  height: 43px;
  display: inline-block;
  box-sizing: border-box;
  color: #000000;
  font-weight: 700;
  margin-bottom: 22px; 
}
.enter-form  {
  position: absolute;
  top: 14px;
  left: -182px;
  width: 275px;
  background-color: #f8f7f4;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  display: none;
}
.enter-block:hover .enter-form {
  display: block;
  margin-top: 24px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.enter-content-li {
  position: relative;
}
.enter-form label {
  position: absolute;
  top: 11px;
  left: 30px;
}
.enter-form input:hover {
  border: 2px solid #d3d3d2;
}
.enter-form input:focus {
  outline: 0;
  border: 2px solid #8fbdec;
}
.enter-form  input:focus ~ label {
  color: #5b9ddf;
}
.enter-form input:focus ~ label,
.enter-form input:valid ~ label {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  position: absolute;
  top: -15px;
}
.enter-form button {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  background: #f16743;
  display:inline-block;
  border-radius: 18px;
  padding: 9px 23px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-sizing: border-box;
  border: 0;
  background:  -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  float:left;
  margin-bottom: 20px;
  margin-left: 18px;
  margin-right: 22px;
}
.enter-form button:hover  {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.enter-form button:active  {
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
}
.enter-form button:focus {
  outline: none;
}
.login a {
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.login {
  display: block;
  text-align: left; 
  margin-bottom: 17px;
}
.sprite-enter1 {
  width: 20px;
  height: 19px;
  background-position: -10px -10px;
}
.sprite-find1 {
  width: 17px;
  height: 17px;
  background-position: -10px -49px;
}
.basket span {
  color: #000000;
}
.basket td {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
}
.basket-empty {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  width: 117px;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-right: 2px;
  margin-right: -2px;
}
.basket-empty::before {
  content:"";
  display: inline-block;
  width: 21px;
  height: 20px;
  background: url("../img/sprite2.png");
  background-position: -10px -10px;
  padding-right: 6px;
  margin-left: 19px;
  margin-bottom: -7px;
}
.basket-full::before {
  content:"";
  display: inline-block;
  width: 21px;
  height: 20px;
  background: url("../img/sprite3.png") no-repeat center;
  background-position: -10px -10px;
  padding-right: 6px;
  margin-bottom: -7px;
}
.quantity {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.basket-item {
  background-color: #f8f7f4;
  position:absolute;
  top: 38px;
  right: -2px;
  width: 541px;
  border-radius: 5px;
  padding-left: 42px;
  box-sizing: border-box;
  display: none;
}
.basket .basket-full {
  position: relative;
  border-radius: 20px;
  background-color: #f7f6f3;
  display: inline-block;
  width: 116px;
  text-align: center;
  padding: 8px 0px;
}
.basket:hover .basket-item {
  display: block;
}
.basket-item-delite {
  position: absolute;
  top: 10px;
  right: -30px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.basket-item-delite::before,
.basket-item-delite::after {
  content: "";
  position: absolute;
  top: 24px;
  left: -551px;
  width: 15px;
  height: 1px;
  background-color: #3e3e3e;
  border-radius: 1px;
  margin-left: 15px;
}
.basket-item-delite1 {
  position: absolute;
  top: 10px;
  right: -30px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.basket-item-delite1::before,
.basket-item-delite1::after {
  content: "";
  position: absolute;
  top: 78px;
  left: -551px;
  width: 15px;
  height: 1px;
  background-color: #3e3e3e;
  border-radius: 1px;
  margin-left: 15px;
}
.basket-item-delite::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.basket-item-delite::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.basket-item-delite1::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.basket-item-delite1::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.basket-img {
  margin-top: 18px;
  margin-left: -5px;
}
.basket-img1 {
  margin-top: 10px;
  margin-left: -2px;
}
.basket-item-full {
  display: inline-block;
  margin-top: 26px;
  width: 222px;
  margin-left: 9px;
}
.basket-item-full1 {
  display: inline-block;
  margin-top: 24px;
  width: 222px;
  margin-left: 9px;
}
.basket-item td{
  padding: 0;
}
.number-weight {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  display: inline-block;
  margin-left: 22px;
  margin-top: 14px;
}
.number-weight1 {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  display: inline-block;
  margin-left: 22px;
  margin-top: 8px;
}
.basket-item .number-money,
.basket-item .money-unit {
  color: #999999;
}
.basket-item .amount1 {
  display: inline-block;
  margin-top: 15px;
  margin-left: 25px;
}
.basket-item .amount2 {
  display: inline-block;
  margin-top: 9px;
  margin-left: 25px;
}
.total, .total-number, .money-unit2 {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
 }
 .basket .basket-item:before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  top: -20px;
}
.basket-total::before {
  content: "";
  display: block;
  width: 96%;
  height: 1px;
  background: #cacac7;
  position: absolute;
  left: 16px;
  bottom: 108px;
}
.basket-total {
  text-align: right;
  padding-top: 28px;
  padding-right: 15px;
}
.total, .total-number, .money-unit2 {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
 }
.order {
  position: relative;
  left: 310px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color:  #ffffff;
  text-decoration: none;
  line-height: 24px;
  background: #f16743;
  display:inline-block;
  border-radius: 22px;
  padding-right: 14px;
  padding-left: 18px;
  padding-top: 9px;
  padding-bottom: 11px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-sizing: border-box;
  background:  -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: 0;
  margin-bottom: 20px;
  margin-top: 14px;
  margin-right: 22px;
}
.order:hover {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.order:active {
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
}
.info1 {
  width: 216px;
  position: absolute;
  bottom: -40px;
  right: 0;
  color: #ffffff;
  text-align: right;
}
.open-hours {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
.tel {
  font-size: 22px;
  font-weight: 900;
  line-height: 24px;
  margin-top: 5px;
  margin-right: -2px;
}
/*Слайдер*/
.slider {
  position: relative;
  padding-top: 315px;
  text-align: center;
  color:  #ffffff;
  line-height: 18px;
}
.slide {
  display: none;
}
.slide-title {
  font-size: 60px;
  font-weight: 900;
  line-height: 60.35px;
  width: 700px;
  margin: 0 224px;
  margin-bottom: 30px;
}
.slide-btn {
  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
  color:  #ffffff;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding-left: 40px;
  padding-right: 39px;
  padding-top: 9px;
  padding-bottom: 14px;
  background: #f26843;
  border-radius: 100px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  margin-bottom: 40px;
}
.slide-btn:hover {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.slide-btn:active {
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
}
.slider-controls {
  position: absolute;
  bottom: 65px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 9px;
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #ffffff;
}
.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4)
}
#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}
#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-cream.jpg");
}
#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-cream1.jpg");
}
#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream2.jpg");
}
.columns {
  font-size: 0;
  color:  #ffffff;
  margin-bottom: 33px;
  text-align: right;
}
.columns a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  margin-right: 19px;
  margin-top: 43px;
  margin-bottom: 25px;
  padding: 11px;
  padding-left: 22px;
  padding-right: 24px;
  background-color: #f26843;
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.54);
  box-sizing: border-box;
  background:  -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
}
.columns a:hover {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.columns a:active {
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
}
.columns h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
  padding-top: 16px;
  padding-left: 19px;
  text-align: left;
}
.columns p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 28px;
  text-align: left;
}
.left-column {      
  display: inline-block;
  width: 560px;
  background: url('../img/raspberry.jpg');
  margin-right: 26px;
  vertical-align: top;
  box-sizing: border-box;
  border-radius: 19px;
}
.right-column {    
  display: inline-block;
  width: 560px;
  vertical-align: top;
  background: url("../img/choko.jpg");
  box-sizing: border-box;
  border-radius: 19px;
  background-position: left ;
}
.product-list {
  padding-top: 4px;
  font-size: 0;
  color:  #ffffff;
  margin-bottom: 35px;
  clear: both;
}
.product-list ul {
  padding: 0;
}
.product-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 267px;
  margin-right: 26px;
  min-height: 330px;
  box-sizing: border-box;
}
.item-wrapper {
  width: 266px;  
  position: absolute;
  text-align: center;
}
.product-item:nth-child(4n) {
  margin-right: 0;
}
.item-catalog {
  margin-bottom: 32px;
}
.price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  position: absolute;
  margin-top: -65px;
}
.item-wrapper a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color:  #ffffff;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  position: relative;
  text-decoration: none;
  margin-top: 3px;  
}
.name h4 {
  margin: 0;
  display: inline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 500;
}
.name h4:hover {
  border: transparent;
}
.price .rub {
display: inline-block;
width: 31px;
height: 36px;
font-size: 0;
background: url("../img/rub.svg") no-repeat center;
position: relative;
top: -9px;
right: 7px;
}
.price .weight-unit {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  position: relative;
  left: -18px;
}
.item-wrapper .view {
  display: none;
}
.item-wrapper:hover .view {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  margin: 0 auto;
  display:inline-block;
  border-radius: 30px;
  margin-bottom: 21px;
  margin-top: 9px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  background:  -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  background-color: #a7b8ad;
}
.item-wrapper .view:hover {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.item-wrapper .view:active {
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
} 
.item-wrapper .hit {
  position: absolute;
  background-image: url("../img/hit.png");
  height: 61px;
  width: 61px;
  top: 4px;
  left: 0px;
}
.name {
  display: block;
  padding-top: 4px;
}
.item-wrapper:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border: 5px solid rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  z-index: 2;
  left: -5px;
  top: -5px;
}
.product-list:hover {
  z-index: 2;
}
.info2 {
  width: 1145px;
  margin-bottom: 43px;
  background: url("../img/background.gif");
  border-radius: 10px;
  font-size: 0;
}
.info2 h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding-top: 23px;
  padding-left: 19px;
  padding-bottom: 23px;
  vertical-align: top;
}
.sprite-cow {
  width: 47px;
  height: 47px;
  background-position: -10px -10px;
}
.sprite-leaf {
  width: 47px;
  height: 47px;
  background-position: -10px -77px;
}
.sprite-small-ice {
  width: 47px;
  height: 47px;
  background-position: -10px -144px;
}
.sprite-therm {
  width: 47px;
  height: 47px;
  background-position: -10px -211px;
}
.info2 p {
  margin: 0;
}
.column1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin:0;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
  padding-bottom: 18px;
  position: relative;
}
.column2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin:0;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
  padding-bottom: 22px;
  position: relative;
}
.column3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin:0;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
  padding-bottom: 22px;
  position: relative;
}
.column4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin:0;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
  padding-bottom: 22px;
  position: relative;
}
.column1 p {
  padding-left: 75px;
}
.column3 p {
  padding-left: 75px;
}
.column2 p {
  padding-left:70px;
}
.column4 p {
  padding-left: 70px;
}
.column1 p::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 47px;
  height: 47px;
  background: url("../img/sprite1.png");
  top: -13px;
  left: 20px;
  background-position: -10px -144px;
}
.column2 p::before {
  content: "";
  position: absolute;
  display: inline-block;
  background: url("../img/sprite1.png");
  top: -13px;
  left: 14px;
  width: 47px;
  height: 47px;
  background-position: -10px -10px;
  vertical-align: top;
}
.column3 p::before {
  content: "";
  position: absolute;
  display: inline-block;
  background: url("../img/sprite1.png");
  top: -12px;
  left: 20px;
  width: 47px;
  height: 47px;
  background-position: -10px -77px;
  vertical-align: top;
}
.column4 p::before {
  content: "";
  position: absolute;
  display: inline-block;
  background: url("../img/sprite1.png");
  top: -13px;
  left: 14px;
  width: 47px;
  height: 47px;
  background-position: -10px -211px;
  vertical-align: top;
}
.news {
  font-size: 0;
  margin-bottom: 37px;
}
.blog {
  display: inline-block;
  width: 560px;
  background: url("../img/strawberry.jpg") #ffffff;
  margin-right: 25px;
  padding-top: 22px;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 18px;
  background-position: -25px -225px;
}
.blog span {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding-left: 19px;
}
.blog a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  display: inline-block;
  padding-left: 19px;
  color:  #000000;
  padding-right: 260px;
  padding-bottom: 80px;
  padding-top: 4px;
}
.blog h4 {
  margin: 0;
}
.blog a:hover {
  text-decoration: none;
}
 .blog h4:hover {
  color: #e84d37;
  display: inline;
  border-bottom: 1px solid #f9cdc4;
}
.mailout {
  display: inline-block;
  box-sizing: border-box;
  width: 560px;
  vertical-align: top;
}
.wrapper {
  padding: 5px;
  background: url("../img/mail-background.jpg");
  border-radius: 10px;
}
.inner {
  min-height: 210px;
  background: #f8f7f4;
  border-radius: 10px;
}
.mailout p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-top: 27px;
  padding-left: 21px;
  margin: 0;
}
.mailout form {
  margin:0;
}
.mailout input[type="submit"] {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  background: #f16743;
  display:inline-block;
  border-radius: 25px;
  text-align:center;
  padding: 11px 19px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-sizing: border-box;
  border: 0;
  background:  -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
}
.mailout input[type="submit"]:hover  {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.mailout input[type="submit"]:active {
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
}
.mailout input:focus {
  outline: none;
}
.mailout input[type="email"] {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 5px;
  margin-top: 35px;
  margin-left: 21px;
  box-sizing: border-box;
  width: 370px;
  margin-right: 10px;
  padding-left: 13px;
  padding-top: 11px;
  padding-bottom: 9px;
  border: 1px solid #d3d3d2;
  margin-bottom: 18px;
}
.map .container {
  position: relative;
}
.map img {
  display: block;
  margin: 0 auto
}
.contacts {
  position: absolute;
  bottom: 60px;
  right: 30px;
  background: #ffffff;
  border-radius: 10px;
  width: 301px;
  box-sizing: border-box;
  text-align: center;
  min-height: 305px;  
}
.contacts p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  vertical-align: top;
}
.adress {
  text-align: left;
  padding-top: 30px;
  margin-left: 25px;
  padding-bottom: 18px;
  box-sizing: border-box;
}
.adress1 {
  text-align: left;
  margin-left: 25px;
  box-sizing: border-box;
  padding-bottom: 22px;
}

.adress1 p {
  margin-bottom: 2px;
}

.contacts span {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.contacts a {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  background: #f16743;
  display:inline-block;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 25px;
  vertical-align: top;
  background: #f26843;
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-sizing: border-box;
  margin-bottom: 18px;
}
.contacts:hover a {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.contacts:active a {
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
}
.main-footer  {
  padding-bottom: 23px;
  padding-top: 35px;
}
.main-footer li {
  display: inline-block;
  vertical-align: top;
}
.main-footer-line {
  padding-top: 0;
}
.main-footer-line .container {
  padding-top: 33px;
  padding-bottom: 7px;
  position: relative;
}
.main-footer-line .container::before {
  content: "";
  display: block;
  width: 1146px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: -2px;
}
.sprite {
  background-image: url('../img/sprite.png');
  background-image: url('../img/sprite1.png');
  background-image: url('../img/sprite2.png');
  background-image: url('../img/sprite3.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite-fb {
  width: 31px;
  height: 31px;
  background-position: -10px -10px;
}
.sprite-inst {
  width: 31px;
  height: 31px;
  background-position: -10px -61px;
}
.sprite-tw {
  width: 31px;
  height: 31px;
  background-position: -10px -112px;
}
.sprite-vk {
  width: 31px;
  height: 31px;
  background-position: -10px -163px;
}
.footer-social {
  font-size: 0;
  float: left;
  margin-right: 207px;
}
.footer-social li {
  display: inline-block;
  width: 37px;
  height: 37px;
  border: 2px solid transparent;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 8px;
  position: relative;
}
.social-btn {
  display: block;
  background: url('../img/sprite.png');
  width: 37px;
  height: 37px;
  border: 3px solid #c2cec7;
  border-radius: 50%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  position:absolute;
  opacity: 0.8;
}
.footer-social li:hover {
   border-color: #c2cec7;
}
.footer-social li:active {
    border-color: #d9e1dd;
}
.social-btn:active {
  box-shadow: inset 0 2px 1px rgba(136, 136, 136, 1);
}
.social-btn:hover,
.social-btn:active {
  opacity:1;
}
.social-btn-tw {
  background-position: -10px -112px;
}
.social-btn-inst {
  background-position: -10px -61px;
}
.social-btn-fb {
  background-position: -10px -10px;
}
.social-btn-vk {
  background-position: -10px -163px;
}
.footer-info {
  float:left;
  box-sizing: border-box;
  font-size: 0;
  margin-left: 20px;
  position: relative;  
  line-height: 16px;
}
.footer-info-left,
.footer-info-right {
  display: inline-block;
  vertical-align: top;
}
.footer-info-left {
  width: 141px;
  box-sizing: border-box;
}
.footer-info-right {
  width: 200px;
  box-sizing: border-box;
}
.footer-info a {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
  position: relative;
}
.footer-info .heart {  
  font-weight: 700;
  position: relative;
}
.heart::before {
  content:"";
  width: 15px;
  height: 13px;
  background: url("../img/heart.png") no-repeat center;
  float:left;
  display: block;
  position: absolute;
  margin-left: -23px;
  margin-top: 3px;
}
.footer-info a:hover,
.footer-info a:active {
  text-decoration: none;
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}
.footer-copyright {
  float: right;
  width: 190px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400px;
  line-height: 18px;
  margin-top: -15px;
 }
.footer-copyright a {
  color: #ffffff;
}
.modal-content {
  position: absolute;
  top: 338px;
  left: 715px;
  width: 479px;
  color: #000000;
  background: #f8f7f4;
  border-radius: 10px;
  z-index: 10;
  padding-left: 24px;
  padding-top: 17px;
  box-sizing: border-box;
  display: none;
 
}
.modal-content-close {
  position: absolute;
  top:70px;
  right:-34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: -48px;
  left: -50px;
  width:25px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}
.modal-content-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal-content h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
  margin-bottom: 18px;
}
.feedback {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}
.modal-content-li {
  position: relative;
}
.feedback input {
  margin-bottom: 20px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  width: 266px;
  height: 42px;
  display: inline-block;
  box-sizing: border-box;
  color: #000000;
  font-weight: 700;
  padding: 0 15px;
  vertical-align: top;
}
.feedback input:hover {
  border: 2px solid #d3d3d2;
}
.feedback input:focus {
  outline: 0;
  border: 2px solid #8fbdec;
}
.feedback textarea {
  width: 430px;
  height: 155px;
  margin-bottom: 20px;
  border: 1px solid #d3d3d2;
  padding-left: 15px;
  padding-top: 10px;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  border-radius: 5px;
  color: #000000;
  font-weight: 700;
}
.feedback textarea:hover {
  border: 2px solid #d3d3d2;
}
.feedback textarea:focus {
  outline: 0;
  border: 2px solid #8fbdec;
}
.feedback label {
  position: absolute;
  top: 10px;
  left: 15px;
}
.feedback input:focus ~ label,
.feedback textarea:focus ~ label {
  color: #5b9ddf;
}
.feedback input:focus ~ label,
.feedback input:valid ~ label,
.feedback textarea:focus ~ label,
.feedback textarea:valid ~ label {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  position: absolute;
  top: -15px;
}
.feedback button {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  line-height: 24px;
  background: #f16743;
  display:inline-block;
  border-radius: 22px;
  padding: 11px 25px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-sizing: border-box;
  background:  -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: 0;
  margin-bottom: 28px;
  position: relative;
  left: 290px;
  vertical-align: top;
}
.feedback button:hover  {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.feedback button:active  {
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
}
.feedback button:focus {
  outline: none;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.breadcrumbs {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 21px;
}
.breadcrumbs a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  padding-right: 18px;
  vertical-align: top;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
}
.breadcrumbs span {
 display: inline;
 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.breadcrumbs li::before {
  content: "»";
  position: absolute;
  background-color: transparent;
  margin-left: -15px;
}
.breadcrumbs li:first-child::before {
  content: '';
}
h1 {
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 2px;
  margin-bottom: 27px;
}
.choose {
  margin-bottom: 50px;
}
.choose-header {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 5px;
  margin-left: 18px;
}
.sorting {
  float: left;
}
.sorting select {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 15px;
  border:0;
  outline:none;
}
.sorting option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.sorting select:hover {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
}
.price-range {
  float: left;
  width: 232px;
}
.price-scale {
 position: relative;
 padding-top: 16px;
 padding-bottom: 17px;
 padding-right: 15px;
 padding-left: 14px;
 border-radius: 35px;
 background: rgba(255, 255, 255, 0.2);
 margin-left: 15px;
}
.price-scale .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
}
.price-scale .bar {
 width: 60%;
 height: 2px;
 background: #ffffff;
 margin-left: 24px;
}
.price-scale .toggle {
  position: absolute;
  top: 7px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #f8f7f4;
  cursor: pointer;
}
.price-scale .toggle-min {
  left: 33px;
}
.price-scale .toggle-max {
  left: 131px;
}
.price-title {
  font-size: 0;
  margin-bottom: 5px;
  margin-left: 28px;
}
.price-title label {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
  color: #ffffff;
  vertical-align: top;
}
.price-title input {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  width: 30px;
  text-align: left;
  color: #ffffff;
  border: none;
  background: transparent;
}
.fat {
  float: left;
  margin-left: 16px;
}
.fat .choose-header {
  margin-left: 15px;
}
.fat label {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

}
.fat li {
 display: inline-block;
 position: relative;
 padding-top: 10px;
 padding-bottom: 9px;
 padding-left: 45px;
 vertical-align: top;
}
.fat .radio {
  background: rgba(255, 255, 255, 0.2);
  width: 410px;
  border-radius:  20px; 
}
.fat input[type="radio"] {
  display: none;
}
.fat label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 50%;
  left: 16px;  
  box-sizing: border-box;
}
.fat label::after {
   content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 21px; 
  top: 15px;
}
.fat input:checked+label::after {
  background: #ffffff;
}
 .fat label:hover::before  {
  border: 2px solid #ffffff;
}
 .fat label:disabled::before  {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.fillers {
  float: left;
  margin-bottom: 32px;
  margin-top: 13px;
}
.fillers label {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  padding-left: 29px;
}
.fillers li { 
  display: inline-block;
  position: relative; 
  vertical-align: top;
}
.fillers .checkbox {
  width: 703px;
  background: rgba(255, 255, 255, 0.2);
  padding-top: 10px;
  padding-bottom: 9px;
  border-radius: 20px;
  display: inline-block;
  box-sizing: border-box; 
  vertical-align: top; 
}
.fillers input[type="checkbox"] {
  display: none;
}
.fillers label::before  {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;;
  border: 1px solid #ffffff;
  border-radius: 3px;
  vertical-align: top;
  box-sizing: border-box;
  left: -11px;
}
.fillers input:checked+label::before {
  content: "";
  background: url("../img/checkbox.png");
  border: none;
  width: 20px;
  height: 20px;
}
.fillers label:hover::before  {
  border: 2px solid #ffffff;
}
 .fillers label:disabled::before  {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.choose button {
float: left;
width: 140px;
position: relative;
top: 20px;
margin-top: 17px;
margin-left: 16px;
background: transparent;
padding: 8px 23px;
font-size: 16px;
font-weight: 500;
line-height: 18px;
color: #ffffff;
border-radius: 20px;
border: 1px solid #ffffff;
}
.choose button:hover {
  background: #ffffff;
  color: #000000;
}
.choose button:active {
outline: 0;
  box-shadow: inset 0 2px 1px #696969;
}
.choose button:focus {
outline: 0;
}
.paginator {
  float: right;
  margin-top: 47px;
  margin-right: -8px;
  margin-bottom: 30px;
}
.paginator a{
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  display:inline-block;
  vertical-align: middle;
  min-width: 20px;
  border-radius: 50px;
  height: 18px;
  text-align: center;
  padding: 3px 3px;
}
.paginator .prev {
  font-size: 0;
  background: url("../img/arow.png") no-repeat;
  background-position: 5px;
  margin-right: -5px;
}
.paginator .next {
  font-size: 0;
  background: url("../img/arow1.png") no-repeat;
  background-position: 10px;
}
.paginator .current {
  background-color: #ffffff;
  color: #000000;
}
.paginator a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.paginator a:active {
  background: #ffffff;
  color: #000000;
}
.paginator .disabled {
  opacity: 0.2;
}